.home {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5em;
}

.intro-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 5em;
}


.intro-self {
  flex: 1;
  margin-right: 3em;
}
.intro-self > h2 {
  font-size: 2.3em;
}

.intro-self .im {
  font-weight: 400;
}
.intro-self p {
  line-height: 2em;
}
.intro-self .social-links  svg{
    font-size: 2em;
    color: var(--blackColor);
    transition: all 1000ms ease;
}
.intro-self .social-links  svg:hover{
    transform: scale(1.3) rotateX(360deg);
}
.intro-self .social-links  .linkedin{
    margin-left: 2em;
}

.intro-pic {
  width: 25em;
}
.intro-pic > img {
  height: 25rem;
  display: block;
  object-fit: fill;
}
